{% extends 'mailings/base.html' %}

{% block content %}
<h2 class="display-6 text-center p-4 mb-4">Рассылки</h2>

<div class="d-flex justify-content-end mb-3">
    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
        <a href="{% url 'mailings:mailing_create' %}" type="button" class="btn btn-success">Создать рассылку</a>
        <a href="{% url 'mailings:log_list' %}" type="button" class="btn btn-secondary">Отчет</a>
    </div>
</div>

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Название</th>
        <th scope="col">Статус</th>
        <th scope="col">Период</th>
        <th scope="col">Активность</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
    <tr>
        <th scope="row">{{ object.pk }}</th>
        <td>{{ object.mailing_name }}</td>
        <td>{{ object.mailing_status }}</td>
        <td>{{ object.period }}</td>
        <td>{{ object.is_active }}</td>
        <td class="actions-column">
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                <a href="{% url 'mailings:mailing_edit' object.pk %}" type="button" class="btn btn-warning">Редактировать</a>
                <a href="{% url 'mailings:mailing_delete' object.pk %}" type="button" class="btn btn-danger">Удалить</a>
            </div>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}