{% extends 'mailings/base.html' %}

{% block content %}
<div class="row">
    <div class="col-5">
        <form class="row" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-error">{{ form.non_field_errors }}</div>
            {% for f in form %}
            <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
            <div class="form-error">{{ f.errors }}</div>
            {% endfor %}
            <button type="submit" class="btn btn-success">Изменить пароль</button>
        </form>
    </div>
</div>
{% endblock %}