<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="updateModalLabel"><strong>Что нового?</strong></h3>
                <button type="button" class="btn-close me-2" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p><strong>Версия:</strong> 1.0.0</p>
                <p><strong>Дата обновления:</strong> 21 декабря 2024</p>
                <ul>
                    <li>Обновлен UI сайта</li>
                    <li>Добавлена информационная кнопка и модальное окно актуальном обновлении</li>
                    <li>Добавлена адаптация под мобильные экраны</li>
                    <li>Обновлен UI главного экрана (в разработке)</li>
                </ul>
            </div>
        </div>
    </div>
</div>